<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
  <div class="container-fluid">
     <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home()">
          <img ng-src="img/fire-water-icon37.png" width="37" height="50">
        </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" ng-click="ShowAbout()">FireWater</a></li>
        <li><a href="#" ng-click="ShowAbout()">The perfect storm weather prediction application</a></li>
      </ul>
      <form class="navbar-form navbar-left search" role="search" ng-submit="Search($event)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter a street address..." ng-model="searchAddress" uib-typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" ng-keypress="Search($event)">
        </div>
        <button type="submit" class="btn btn-default">GO</button>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid report-card">
<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item"><i class="fa fa-home fa-2x"></i> <a ng-click="zoomToAddress()">{{geocode.formatted_address}}</a></li>
      <li class="list-group-item"><i class="fa fa-sun-o fa-2x"></i> The current weather is {{forecast.forecasts[0].phrase_22char}} {{forecast.forecasts[0].temp}}&deg;F</li>
      <li class="list-group-item"><i class="fa fa-{{nearest.alert.icon}} fa-2x"></i> {{nearest.alert.message}}</li>
      <li class="list-group-item"><i class="fa fa-clock-o fa-2x"></i> {{nearest.historical.message}}</li>
    </ul>
  </div>
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item floods">{{prediction.floods}}</li>
      <li class="list-group-item fires">{{prediction.fires}}</li>
      <li class="list-group-item">{{prediction.summary}}</li>
    </ul>
  </div>
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item"><i class="fa fa-fire fa-2x" ></i> <strong>{{geocode.state}} Fire Alerts</strong> <span class="badge danger">{{geoAlerts.fires.length}}</span></li>
      <li class="list-group-item"><i class="fa fa-tint fa-2x" ></i> <strong>{{geocode.state}} Flood Alerts</strong> <span class="badge danger">{{geoAlerts.floods.length}}</span></li>
      <li class="list-group-item"><i class="fa fa-asterisk fa-2x" ></i> <strong>{{geocode.state}} Winter Alerts</strong> <span class="badge danger">{{geoAlerts.winter.length}}</span></li>
      <li class="list-group-item"><i class="fa fa-bell fa-2x" ></i> <strong>Other {{geocode.state}} Alerts</strong> <span class="badge danger">{{geoAlerts.other.length}}</span></li>
      <li class="list-group-item"><i class="fa fa-circle fa-2x" ></i> <strong>Historical Events Nearby</strong> <span class="badge danger">{{historical.count}}</span></li>
    </ul>
    <p style="text-align:center;">See map for <a href="http://alerts.weather.gov/" target="_blank">NOAA</a> alerted areas</p>
  </div>
</div>
</div>
