<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
  <div class="container-fluid">
     <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home()">
          <img ng-src="img/fire-water-icon37.png" width="37" height="50">
        </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a ui-sref="home()">FireWater</a></li>
        <li><a ui-sref="home()">The perfect storm weather prediction application</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search" ng-submit="Search($event)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Address Search..." ng-model="searchAddress" uib-typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" ng-keypress="Search($event)">
        </div>
        <button type="submit" class="btn btn-default">GO</button>
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid report-card">
<div class="row">
  <div class="col-md-9">
    <h4 class="media-heading">Your Safety Card</h4>
    <ul class="list-group">
      <li class="list-group-item"><i class="fa fa-home fa-2x"></i> <a ui-sref="state({state:geocode.found_state})">{{geocode.formatted_address}}</a></li>
      <li class="list-group-item"><i class="fa fa-{{nearestAlert.type}} fa-2x"></i> {{nearestAlert.miles | number:0}} miles from nearest alert</li>
      <li class="list-group-item"><i class="fa fa-clock-o fa-2x"></i> {{forecast.forecasts[0].phrase_22char}} {{forecast.forecasts[0].temp}}&deg;F</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item"><i class="fa fa-fire fa-2x" ></i> <strong>Fire Alerts</strong> <span class="badge danger">{{geoAlerts.fires.length}}</span></li>
      <li class="list-group-item"><i class="fa fa-tint fa-2x" ></i> <strong>Flood Alerts</strong> <span class="badge danger">{{geoAlerts.floods.length}}</span></li>
      <li class="list-group-item"><i class="fa fa-asterisk fa-2x" ></i> <strong>Winter Alerts</strong> <span class="badge danger">{{geoAlerts.winter.length}}</span></li>
      <li class="list-group-item"><i class="fa fa-bell fa-2x" ></i> <strong>Other Alerts</strong> <span class="badge danger">{{geoAlerts.other.length}}</span></li>
    </ul>
    <p style="text-align:center;">See map for <a href="http://alerts.weather.gov/" target="_blank">NOAA</a> alerted areas</p>
  </div>
</div>
</div>
