<ng-include src="'views/header.html'"></ng-include>

<leaflet id="map" class="map" center="center" defaults="defaults" geojson="geojson" geojson-nested="true" layers="layers" markers="markers"></leaflet>

<div class="row">
  <br>
  <div class="container-fluid pull-right">
    <button ng-click="changeForecast()" class="btn btn-default">{{(showTenForecast)?'Show 24 Hour Forecast':'Show 10 Day Forecast'}}</button>
  </div>
</div>

<nvd3 ng-show="!showTenForecast" options="forecastOptions" data="forecastData"></nvd3>

<nvd3 ng-show="showTenForecast" options="forecastTenOptions" data="forecastTenData"></nvd3>

<div class="row alerts">
  <div class="col-md-12">
  <form>
    <div class="form-group">
      <label for="search">Search Current NOAA Alerts
        <button class="btn btn-{{getNoaaAlertClass('Minor')}}" ng-click="searchText='Minor'">Minor</button>
        <button class="btn btn-{{getNoaaAlertClass('Moderate')}}" ng-click="searchText='Moderate'">Moderate</button>
        <button class="btn btn-{{getNoaaAlertClass('Severe')}}" ng-click="searchText='Severe'">Severe</div></button>
      </label>
      <input type="text" class="form-control" id="search" placeholder="Alert search" ng-model="searchText">
    </div>
  </form>

  <table class="table table-hover table-alerts">
    <tbody>
      <tr ng-repeat="alert in alerts | filter:searchText | orderBy:'distance'">
        <td>
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-{{(alert | eventIcon)}} fa-2x"></i>
              &nbsp;<a ui-sref="state({state:(alert['cap:geocode'] | parseState)})">{{alert['title'][0]}}</a>
              <div class="label label-noaa pull-right label-{{getNoaaAlertClass(alert['cap:severity'][0])}}">{{alert['cap:severity'][0]}}</div>
            </h3>
          </div>
          <div class="panel-body">
            <strong>{{alert['cap:event'][0]}}</strong> <span ng-if="alert['distance']">{{alert['distance'] | number:2}} miles away</span><br/>
            <p>Updated {{alert['updated'][0] | moment}} Expires {{alert['cap:expires'][0] | moment}}</p>
            {{alert['summary'][0]}} <a ng-href="{{alert['cap:link'][0]}}" title="Read More" target="_blank">more...</a>
            <br/><strong>Affected areas:</strong> {{alert['cap:areaDesc'][0]}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

  <div class="row past">
    <div class="col-md-12">
    <form>
      <div class="form-group">
        <label for="search">Search Past Events</label>
        <input type="text" class="form-control" id="search" placeholder="Past event search" ng-model="pastSearchText">
      </div>
    </form>

  <table class="table table-hover table-past">
    <tbody>
      <tr ng-repeat="event in historical | filter:pastSearchText | orderBy:'distance'">
        <td>
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="fa fa-circle fa-2x"></i>
              {{event.doc.EVENT_TYPE}}
            </h3>
          </div>
          <div class="panel-body">
            <strong>{{event.doc.EVENT_TYPE}}</strong> <span ng-if="event.distance">{{event.distance | number:2}} miles away</span><br/>
            <p>Happened {{event.doc.BEGIN_DATE_TIME | moment}}</p>
            <p ng-if="event.doc.EVENT_NARRATIVE!=''">{{event.doc.EVENT_NARRATIVE}}</p>
            <p ng-if="event.doc.EPISODE_NARRATIVE!=''">{{event.doc.EPISODE_NARRATIVE}}</p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<ng-include src="'views/about.html'"></ng-include>
