<h2>{{geocode.formatted_address}}</h2>

<!-- <ng-include src="'/views/search.html'" ng-controller="searchCtrl"></ng-include> -->

<ul class="alerts">
  <li><i class="fa fa-fire fa-2x badge" number="{{geoAlerts.fires.length}}"></i></li>
  <li><i class="fa fa-tint fa-2x badge" number="{{geoAlerts.floods.length}}"></i></li>
  <li><i class="fa fa-asterisk fa-2x badge" number="{{geoAlerts.winter.length}}"></i></li>
  <li><i class="fa fa-bell fa-2x badge" number="{{geoAlerts.other.length}}"></i></li>
</ul>

<nvd3 options="forecastOptions" data="forecastData"></nvd3>

<leaflet id="map" class="map" center="center" defaults="defaults" geojson="geojson" geojson-nested="true" layers="layers" markers="markers"></leaflet>

<table class="table table-hover">
  <thead>
    <th></th>
  </thead>
  <tbody>
    <tr ng-repeat="alert in alerts">
      <td>{{alert['cap:event']}}</td>
      <td>{{alert['cap:urgency']}}</td>
      <td>{{alert['cap:severity']}}</td>
      <td>{{alert['cap:certainty']}}</td>
      <td><a ui-sref="state({state:(alert['cap:geocode'] | parseState)})">{{alert['title']}}</a></td>
    </tr>
  </tbody>
</table>
